/* You can add global styles to this file, and also import other style files */

#google-btn {
    text-align: center;
    display: flex;
    justify-content: center;
}

.cursor {
    cursor: pointer;
}

.img-avatar {
    height: 200px;
    width: 200px;
}